body{
    background-image: url(../image/place.jpg);
    overflow-y: scroll;
    overflow-x:hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column; 
    color: rgb(26, 26, 26);
}
.header2333{
    text-align: center;
    padding: 10px;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 3px solid rgba( 255, 255, 255, 0.18 );
}
hr{
    color: #888888;
}
a{
    color: rgb(20, 20, 20);
}
a:hover{
    border-color: rgb(22, 22, 22)
}
.center{
    text-align: center;
}
.shuanglan{
    position: absolute;
    top: 14%;
    left: 8%;
}
.meting{
    position: absolute;
    top: 14%;
    left: 8%;
}
.openlist{
    width: calc(100% - 70px);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    background-color: white;
}
.openlist:hover{
    background-color: rgba(255, 255, 255, 0.884);
}
.left{
    width: 550px;
    float: left;
    padding: 10px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 #888888;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.left:hover{
    box-shadow: 0 5px 27px 0 #888888;
}
.right:hover{
    box-shadow: 0 5px 27px 0 #888888; 
}
.headimg{
    width: auto;
    height: auto;
    border-radius: 10px;
}
.lianjie{
    width: 90px;
    height: 90px;
    display: inline-block;
    text-align: center;
    background: rgba( 255, 255, 255, 0.25 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.lianjie:hover{
    width: 90px;
    height: 90px;
    background-color: rgb(216, 216, 216);
    display: inline-block;
    text-align: center;
}

@media all and (min-width:1290px){
    .right{
        padding: 10px;
        height: auto;
        width: 520px;
        position: absolute;
        left: 105%;
        top: 0%;
        background: rgba( 255, 255, 255, 0.25 );
        box-shadow: 0 8px 32px 0  #888888;
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
    .upupzuiup-text{
        width: 80%;
        height: 75px;
        float: left;
    }
    .caidananniu{
        width: 10%;
        height: 75px;
        float: left;
    }
    .upupzuiup{
        width: 100%;
        height: 75px;
        float: left;
    }
    .qitaanniu{
        width: 10%;
        height: 75px;
        float: left;
    }
}
@media all and (max-width:1290px) and (min-width:1079px){
    .right{
        padding: 10px;
        height: auto;
        width: 350px;
        position: absolute;
        left: 105%;
        top: 0%;
        background: rgba( 255, 255, 255, 0.25 );
        box-shadow: 0 8px 32px 0  #888888;
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
    .upupzuiup-text{
        width: 80%;
        height: 75px;
        float: left;
    }
    .caidananniu{
        width: 10%;
        height: 75px;
        float: left;
    }
    .upupzuiup{
        width: 100%;
        height: 75px;
        float: left;
    }
    .qitaanniu{
        width: 10%;
        height: 75px;
        float: left;
    }
}
@media all and (max-width:1079px) and (min-width:759px){
    .right{
        padding: 10px;
        height: auto;
        width: 550px;
        top: 105%;
        position: absolute;
        left: 0%;
        background: rgba( 255, 255, 255, 0.25 );
        box-shadow: 0 8px 32px 0  #888888;
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
    .aplayer{
        display: none;
    }
    .upupzuiup-text{
        width: 80%;
        height: 75px;
        float: left;
    }
    .caidananniu{
        width: 10%;
        height: 75px;
        float: left;
    }
    .upupzuiup{
        width: 100%;
        height: 75px;
        float: left;
    }
    .qitaanniu{
        width: 10%;
        height: 75px;
        float: left;
    }
}
@media all and (max-width:759px) and (min-width:550px){
    .urlimg{
        display: none;
    }
    .left{
        width: 480px;
    }
    .shuanglan{
        left: 2%;
    }
    .right{
        padding: 10px;
        height: auto;
        width: 480px;
        top: 105%;
        position: absolute;
        left: 0%;
        background: rgba( 255, 255, 255, 0.25 );
        box-shadow: 0 8px 32px 0  #888888;
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
    .aplayer{
        display: none;
    }
    .upupzuiup-text{
        width: 80%;
        height: 75px;
        float: left;
    }
    .caidananniu{
        width: 10%;
        height: 75px;
        float: left;
    }
    .qitaanniu{
        width: 10%;
        height: 75px;
        float: left;
    }
    .upupzuiup{
        width: 100%;
        height: 75px;
        float: left;
    }
}
@media all and (max-width:550px){
    .urlimg{
        display: none;
    }
    .left{
        width: calc(100% - 50px);
    }
    .shuanglan{
        left: 2%;
    }
    .right{
        padding: 10px;
        height: auto;
        top: 105%;
        position: absolute;
        left: 0%;
        background: rgba( 255, 255, 255, 0.25 );
        box-shadow: 0 8px 32px 0  #888888;
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
    .aplayer{
        display: none;
    }
    .upupzuiup-text{
        width: 80%;
        height: calc(10vh);
        float: left;
    }
    .upupzuiup{
        width: 100%;
        height: calc(10vh);
        float: left;
    }
    .caidananniu{
        width: 10%;
        height: calc(10vh - 1px);
        float: left;
    }
    .qitaanniu{
        width: 10%;
        height: calc(10vh - 1px);
        float: left;
    }
}
@media all and (max-height:695px){
    .upupzuiup-text{
        width: 80%;
        height: calc(10vh);
        float: left;
    }
    .upupzuiup{
        width: 100%;
        height: calc(10vh);
        float: left;
    }
    .caidananniu{
        width: 10%;
        height: calc(10vh - 1px);
        float: left;
    }
    .qitaanniu{
        width: 10%;
        height: calc(10vh - 1px);
        float: left;
    }
}
@media all and (max-height:411px){
    .upupzuiup-text{
        font-size:20px;
    }
}
.upupzuiup-text{
    text-align: center;
    display: flex;
    justify-content:center;
    align-items:center;
    font-size:25px;
}
.upupzuiup{
    background-color: rgba(147, 242, 255, 0.596);
    border: 2px solid rgba(255, 255, 255, 0.61);
    border-radius: 10px;
}
.caidananniu{
    background-color: rgba(147, 242, 255, 0.596);
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content:center;
    align-items:center;
    font-size:18px;
}
.qitaanniu{
    background-color: rgba(147, 242, 255, 0.596);
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content:center;
    align-items:center;
    font-size:18px;
}
.caidananniu:hover{
    background-color: rgba(147, 242, 255, 0.438);
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content:center;
    align-items:center;
    font-size:18px;
}
.qitaanniu:active{
    background-color: rgba(147, 242, 255, 0.377);
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content:center;
    align-items:center;
    font-size:18px;
}
.qitaanniu:hover{
    background-color: rgba(147, 242, 255, 0.438);
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content:center;
    align-items:center;
    font-size:18px;
}
.caidananniu:active{
    background-color: rgba(147, 242, 255, 0.377);
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content:center;
    align-items:center;
    font-size:18px;
}
.noscript{
    text-align: center;
    top: 30%;
    position: relative;
}
.posts2333{
    position: relative;
    width: calc(100% - 30px);
    height: auto;
    margin: 3px 0;
    padding: 10px;
    background-color: #fdfdfd;
    border: 2px solid rgb(99, 99, 99);
    border-radius: 20px
    
}
.posts2333:hover{
    position: relative;
    width: calc(100% - 30px);
    height: auto;
    margin: 3px 0;
    padding: 10px;
    background-color: #fdfdfdc0;
    border: 2px solid rgb(151, 151, 151);
    border-radius: 20px;
}