a{
    color: rgb(0, 51, 128);
    text-decoration: none;
}
a:hover{
    color: rgb(0, 2, 128);
    text-decoration: underline;
}
@media (max-width: 600px){
    .ggline {
        white-space: pre-wrap;
      }
      
      .ggline::before {
        content: "\A";
      }
}
