.posts2333{
    position: relative;
    width: calc(100% - 30px);
    height: auto;
    margin: 3px 0;
    padding: 10px;
    background-color: #fdfdfd;
    border: 2px solid rgb(99, 99, 99);
    border-radius: 3px;
}
.posts2333:hover{
    position: relative;
    width: calc(100% - 30px);
    height: auto;
    margin: 3px 0;
    padding: 10px;
    background-color: #fdfdfdc0;
    border: 2px solid rgb(151, 151, 151);
    border-radius: 3px;
}
.dailong{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
   	z-index: 9990;     
}
.postlist2{
    width: calc(100% - 120px);
	height: auto;
	margin: 100px auto;
	background-color: #fefefe;
	border-radius: 10px;
	box-shadow: 0 0 5px 5px darkgray;
    padding: 20px;
    animation: fadein .1s;
}
@keyframes fadein {
    0% {
        transform: translate(0,100%);
    }
    100% {
        transform: none;
    }
}