*{
    font-family: "Good";
}
@font-face {
    font-family: "Good";
    src: url("src/1.ttf");
}
.no-ic-card-head{
    background-color: #ffffff;
    border-radius:15px;
    margin: auto;
    padding: 25px;
    position:relative;
    overflow:hidden;
    border:5px solid rgb(219, 219, 219);
    
}
.head-button-ico{
    height: 25px;
    width: 25px;
}
.page-title{
    color: rgb(0, 0, 0);
    font-size:30px
}
.ic-card{
    background-color: #ffffff;
    border-radius:15px;
    margin: auto;
    padding: 50px;
    position:relative;
    overflow:hidden;
    border:5px solid rgb(219, 219, 219);
}
.ic-card-title{
    font-size:35px;
    border-bottom-style: solid;
}
.ic-card-commet{
    font-size:20px;
}
.lianjie{
    color: rgb(0, 0, 0);
    font-size:20px;
    white-space: nowrap
}
.ic-button{
    height: 55px;
    background-color: rgb(202, 202, 202);
    display: inline-block;
    padding: 10px;
    border-radius: 15px;
    border: none;
    font-size: 20px;
}
.ic-button:hover{
    background-color: rgb(175, 175, 175);
}
