@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes drawer-slidein {
  0% {
    left: -440px;
  }
  100% {
    left: 0px;
  }
}
@keyframes drawer-slideout {
  0% {
    left: 0px;
  }
  100% {
    left: -440px;
  }
}
* {
  transition: all 0.1s ease;
  color: #1b1b1b;
  margin: 0;
  padding: 0;
}
body {
  background: transparent;
}
a {
  text-decoration: none;
}
hr {
  width: 100%;
  height: 2px;
  margin: 10px 0;
  background-color: #c9c9c9;
  border: none;
}
.gd-menu {
  position: fixed;
  width: calc(100% - 30px);
  height: 40px;
  top: 0px;
  padding: 15px;
  left: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  z-index: 99;
}
.gd-menu * {
  line-height: 40px !important;
}
.gd-menu i {
  margin-right: 10px;
  font-size: 20px;
  user-select: none;
  cursor: pointer;
}
.gd-menu h1 {
  display: inline;
  font-size: 20px;
}
.gd-menu img {
  width: auto;
  height: 100%;
}
.gd-drawer {
  position: fixed;
  width: calc(100% - 60px);
  max-width: 400px;
  height: calc(100% - 40px);
  padding: 20px;
  transition: all 1s ease !important;
  overflow: auto;
  display: none;
  z-index: 101;
}
.gd-drawer t {
  margin-top: 30px;
  margin-bottom: 20px;
  color: #1b1b1b;
  font-size: 20px;
  display: inherit;
}
.gd-drawer li {
  position: relative;
  width: calc(100% - 80px);
  padding: 20px 40px;
  margin: 5px 0;
  list-style: none;
  user-select: none;
  cursor: pointer;
}
.gd-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(27, 27, 27, 0.6);
  backdrop-filter: blur(10px);
  transition: all 1s ease !important;
  display: none;
  z-index: 100;
}
.gd-main {
  position: relative;
  width: calc(100% - 40px);
  max-width: 700px;
  padding: 20px;
  margin: auto;
}
.gd-main-1 {
  position: relative;
  width: calc(100% - 40px);
  max-width: 700px;
  top: 70px;
  padding: 20px;
  margin: auto;
}
.gd-box {
  position: relative;
  width: calc(100% - 60px);
  height: auto;
  margin: 20px 0;
  padding: 30px;
  background-color: #fdfdfd;
}
.gd-box-pad-10-top {
  padding-top: 10px !important;
}
.gd-box-pad-10-bottom {
  padding-bottom: 10px !important;
}
.gd-box-pad-top,
.gd-box-pad-20-top {
  padding-top: 20px !important;
}
.gd-box-pad-bottom,
.gd-box-pad-20-bottom {
  padding-bottom: 20px !important;
}
.gd-box-pad-30-top {
  padding-top: 30px !important;
}
.gd-box-pad-30-bottom {
  padding-bottom: 30px !important;
}
.gd-box-pad-50-top {
  padding-top: 50px !important;
}
.gd-box-pad-50-bottom {
  padding-bottom: 50px !important;
}
.gd-box-pad-100 {
  padding: 100px !important;
}
.gd-box-pad-100-top {
  padding-top: 100px !important;
}
.gd-box-pad-100-bottom {
  padding-bottom: 100px !important;
}
.gd-box-pad-200 {
  padding: 200px !important;
}
.gd-box-pad-200-top {
  padding-top: 200px !important;
}
.gd-box-pad-200-bottom {
  padding-bottom: 200px !important;
}
.gd-inline {
  display: inline;
}
.gd-inline-box {
  display: inline-block;
}
.gd-article p,
.gd-article div img {
  margin: 10px 0;
}
.gd-article h1,
.gd-article h2,
.gd-article h3,
.gd-article h4,
.gd-article h5,
.gd-article h6 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.gd-h:hover {
  background-color: #f5f5f5;
}
.gd-ani-fadein {
  animation: fadein 0.2s ease;
}
.gd-ani-fadeout {
  animation: fadeout 0.2s ease;
}
.gd-ani-drawer-slidein {
  animation: drawer-slidein 0.2s ease;
}
.gd-ani-drawer-slideout {
  animation: drawer-slideout 0.2s ease;
}
.gd-button {
  padding: 10px;
  margin: 5px;
  display: inline-block;
  user-select: none;
  outline: none;
  cursor: pointer;
}
.gd-input {
  width: calc(100% - 20px);
  height: 20px;
  line-height: 20px;
  padding: 10px;
  margin: 5px 0px;
  background-color: #f5f5f5;
  border: none;
  display: block;
  outline: none;
}
.gd-input:hover,
.gd-input:focus {
  background-color: #fdfdfd;
}
.gd-post-center {
  text-align: center;
  margin: auto;
}
.gd-post-right {
  text-align: right;
}
.gd-color-red {
  color: #f03737 !important;
}
.gd-color-red-fill {
  background-color: #f03737;
  color: #fdfdfd;
}
.gd-color-red-bd {
  border-color: #f03737 !important;
}
.gd-color-red-selection::selection {
  background-color: #ffcdcd;
  color: #f03737;
}
.gd-color-blue {
  color: #3743f0 !important;
}
.gd-color-blue-fill {
  background-color: #3743f0;
  color: #fdfdfd;
}
.gd-color-blue-bd {
  border-color: #3743f0 !important;
}
.gd-color-blue-selection::selection {
  background-color: #cdd1ff;
  color: #3743f0;
}
.gd-color-green {
  color: #37f08a !important;
}
.gd-color-green-fill {
  background-color: #37f08a;
  color: #1b1b1b;
}
.gd-color-green-bd {
  border-color: #37f08a !important;
}
.gd-color-green-selection::selection {
  background-color: #cdffd5;
  color: #37f08a;
}
.gd-color-yellow {
  color: #f0e437 !important;
}
.gd-color-yellow-fill {
  background-color: #f0e437;
  color: #1b1b1b;
}
.gd-color-yellow-bd {
  border-color: #f0e437 !important;
}
.gd-color-yellow-selection::selection {
  background-color: #fffccd;
  color: #f0e437;
}
.gd-color-purple {
  color: #b537f0 !important;
}
.gd-color-purple-fill {
  background-color: #b537f0;
  color: #fdfdfd;
}
.gd-color-purple-bd {
  border-color: #b537f0 !important;
}
.gd-color-purple-selection::selection {
  background-color: #dfcdff;
  color: #b537f0;
}
.gd-color-black {
  color: #1b1b1b !important;
}
.gd-color-black-fill {
  background-color: #1b1b1b;
  color: #fdfdfd;
}
.gd-color-black-bd {
  border-color: #1b1b1b !important;
}
.gd-color-white {
  color: #fdfdfd;
}
.gd-color-white-fill {
  background-color: #fdfdfd;
  color: #1b1b1b;
}
.gd-color-white-bd {
  border-color: #fdfdfd !important;
}
.gd-border-5,
.gd-border-h-5:hover {
  border: 5px solid;
}
.gd-border-3,
.gd-border-h-3:hover {
  border: 3px solid;
}
.gd-border-2,
.gd-border-h-2:hover {
  border: 2px solid;
}
.gd-border,
.gd-border-h:hover,
.gd-border-1,
.gd-border-h-1:hover {
  border: 1px solid;
}
.gd-rc-20,
.gd-rc-h-20:hover {
  border-radius: 20px !important;
}
.gd-rc-10,
.gd-rc-h-10:hover {
  border-radius: 10px !important;
}
.gd-rc,
.gd-rc-h:hover,
.gd-rc-5,
.gd-rc-h-5:hover {
  border-radius: 5px !important;
}
.gd-rc-1,
.gd-rc-h-1:hover {
  border-radius: 1px !important;
}
.gd-shadow-20,
.gd-shadow-h-20:hover {
  box-shadow: 0px 0px 20px rgba(27, 27, 27, 0.1) !important;
}
.gd-shadow,
.gd-shadow-h:hover,
.gd-shadow-10,
.gd-shadow-h-10:hover {
  box-shadow: 0px 0px 10px rgba(27, 27, 27, 0.1) !important;
}
.gd-shadow-5,
.gd-shadow-h-5:hover {
  box-shadow: 0px 0px 5px rgba(27, 27, 27, 0.1) !important;
}
@media screen and (max-width: 700px) {
  .gd-suit {
    width: calc(100% - 40px);
    padding: 20px;
  }
}
