.center{
    text-align: center;
}
.info-container{
    overflow-y: auto;
}
.links-container{
    overflow-y: auto;
}
.shuoshuo2{
    width: 299px;
    white-space:normal;
    word-break:break-all;
}
.article-container{
    overflow-y: auto;
    overflow-x: hidden;
}