body{
    z-index:-10;/*因为背景图片应该放在最下方，所以设置一个层级*/
    background-image: url(../img/background.jpg);
    background-size:cover; /* ---把背景图片放大到适合元素容器的尺寸，图片比例不变，但某些部分被切割无法显示完整背景图像 */
    background-attachment:fixed; /* 当内容高度大于图片高度时，背景图像的位置相对于 可视窗口 固定，此条属性必须设置 */
    background-position:center;
    color: aliceblue;
}
a{
    color: rgb(255, 194, 194);
    text-decoration: none;
}
a:hover{
    color: rgb(206, 255, 174);
    text-decoration: underline;
}
.mainbox{
    position: absolute;
    top: 50%;
    left: 26%;
    transform: translate(-50%,-50%);
    height: 75%;
    width: 45%;
    display: flex;
}
.mainbox2{
    background-color: rgb(97, 97, 97, 0.3);
    position: absolute;
    top: 26%;
    left: 74%;
    transform: translate(-50%,-50%);
    height: auto;
    width: 45%;
    display: flex;
    border-radius:9px;
    padding: 6px;
}
.mainbox3{
    position: absolute;
    background-color: rgb(97, 97, 97, 0.3);
    top: 76%;
    left: 74%;
    transform: translate(-50%,-50%);
    height: auto;
    width: 45%;
    display: flex;
    border-radius:9px;
    padding: 6px;
}
.mainbox4{
    position: absolute;
    background-color: rgb(97, 97, 97, 0.3);
    top: 53.5%;
    left: 74%;
    transform: translate(-50%,-50%);
    height: auto;
    width: 45%;
    display: flex;
    border-radius:9px;
    padding: 3px;
    word-break: break-word;
}
.fmkliheadpage{
    width: 65px;
    border-radius:50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 25%;
    left: -100%;
}
.copy{
    position: absolute;
    bottom: 0;
    left: 20%;

}
.jianjie{
    position: absolute;
    top: 35%;
    left: 43%;
}
.name{
    font-size: 2.1em;
    line-height: 5%;
}
html{
    text-align: center;
    justify-content: center;
    margin: 0;
}
@media screen and (min-width: 1200px){
    .mainbox{
        width: 410px;
    }
    .mainbox2{
        width: 552px;
    }
    .mainbox3{
        width: 552px;
    }
    .mainbox4{
        width: 552px;
    }
}
@media screen and (max-height: 700px){
    .mainbox4{
        display: none;
    }
}
@media screen and (max-width: 480px){
    .mainbox{
        height: 42.5%;
        top:23.5%;
        left: 50%;
        width: 90%;
    }
    .mainbox2{
        background-color: rgb(97, 97, 97, 0.3);
        width: 90%;
        top: 37%;
        left: 50%;
    }
    .mainbox4{
        display: none;
    }
    .mainbox3{
        background-color: rgb(97, 97, 97, 0.3);
        width: 90%;
        top: 73.5%;
        left: 50%;
    }
    .jianjie{
        top:5%;
    }
    .copy{
        position: absolute;
        top: 0;
        left: 25%;
    
    }
}
.links{
    z-index: 1;
    width: 80%;
    margin-left: 9%;
    overflow: auto;
}
.Abouts{
    z-index: 1;
    width: 80%;
    margin-left: 9%;
    margin-top: 130px;
    overflow: auto;
}
@media screen and (max-height: 650px){
    .Abouts{
        z-index: 1;
        width: 80%;
        margin-left: 9%;
        margin-top: 75px;
        overflow: auto;
    }
    .jianjie2{
        position: absolute;
        top: 34px;
    }

}
.linkbutton{
    width: 40px;
    background-color: rgb(228, 228, 228);
}

.footer2{
    position: absolute;
    bottom: 39px;
    width: calc(100% - 20px);
    height: auto;
    padding: 3px;
    background-color: rgb(117, 117, 117);
}
.openfooterimg{
    width: 16px;
    position: absolute;
    top: 6px;


}
.openfooter2{
    position: absolute;
    background-color: rgb(85, 85, 85);
    width: calc(100% - 18px);
    bottom: 5px;
    padding: 3px;
}