a{
    color: rgb(44, 110, 0);
    text-decoration: none;
}
a:hover{
    color: rgb(44, 110, 0);
    text-decoration: underline;
}
.mainbox{
    position: absolute;
    top: 50%;
    left: 26%;
    transform: translate(-50%,-50%);
    height: 75%;
    width: 45%;
    display: flex;
}
.mainbox2{
    position: absolute;
    top: 26%;
    left: 74%;
    transform: translate(-50%,-50%);
    height: 40%;
    width: 45%;
    display: flex;
    border-radius:9px;
    padding: 4px;
}
.mainbox3{
    position: absolute;
    top: 70%;
    left: 74%;
    transform: translate(-50%,-50%);
    height: 40%;
    width: 45%;
    display: flex;
    border-radius:9px;
    padding: 4px;
}
.fmkliheadpage{
    width: 65px;
    border-radius:50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 25%;
    left: -100%;
}
.copy{
    position: absolute;
    bottom: 0;
    left: 20%;

}
.jianjie{
    position: absolute;
    top: 35%;
    left: 43%;
}
.name{
    font-size: 2.1em;
    line-height: 5%;
}
html{
    text-align: center;
    justify-content: center;
    margin: 0;
}
@media screen and (min-width: 1200px){
    .mainbox{
        width: 410px;
    }
    .mainbox2{
        width: 552px;
    }
    .mainbox3{
        width: 552px;
    }
}
@media screen and (max-width: 480px){
    .mainbox{
        height: 42.5%;
        top:23.5%;
        left: 50%;
        width: 90%;
    }
    .mainbox2{
        height: 32.5%;
        width: 90%;
        top: 37%;
        left: 50%;
    }
    .mainbox3{
        height: 32.5%;
        width: 90%;
        top: 73.5%;
        left: 50%;
    }
    .jianjie{
        top:5%;
    }
    .copy{
        position: absolute;
        top: 0;
        left: 25%;
    
    }
}
.links{
    z-index: 1;
    width: 80%;
    margin-left: 9%;
    overflow: auto;
}
.Abouts{
    z-index: 1;
    width: 80%;
    margin-left: 9%;
    margin-top: 130px;
    overflow: auto;
}
.openfooter{
    position: absolute;
    top: 100%;
    left: 8%;
    background-color: #cfcfcf;
    width: 80%;
    height: 30px;
    border-radius:5px;
    font-size: 1.3em;
    padding: 2px;
}
@media screen and (max-height: 650px){
    .Abouts{
        z-index: 1;
        width: 80%;
        margin-left: 9%;
        margin-top: 75px;
        overflow: auto;
    }
    .jianjie2{
        position: absolute;
        top: 34px;
    }

}
.linkbutton{
    width: 40px;
    background-color: rgb(228, 228, 228);
}